<div class="container">
  <div class="right-cards">
    <mat-card>
      <mat-card-title>{{ group.name }}</mat-card-title>
      <mat-card-header>
        <img [src]="group.groupPhoto" alt="{{ 'group.photoAlt' | translate }}" >
        <mat-card-title-group>
          <mat-card-title>{{ 'group.debtInfo' | translate: { groupName: group.name } }}
            @if (amountOfPayToYou > 0) {
              {{ 'group.owesYou' | translate }}: {{ amountOfPayToYou }}
            } @else if (amountOfPayToYou < 0) {
              {{ 'group.youOwe' | translate }}: {{ amountOfPayToYou * -1 }}
            } @else {
              {{ 'group.upToDate' | translate }}
            }
            @if (currentCurrency == 'PEN') {
              {{ 'group.currencySol' | translate }}
            } @else {
              {{ currentCurrency }}
            }
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'group.creationDate' | translate }}: {{ group.createdAt | date: 'dd/MM/yyyy' }}</p>
        <p *ngFor="let currency of group.currency">{{ 'group.currency' | translate }}: {{ currency.code }}</p>
        <p>{{ 'group.members' | translate }}: {{ totalOfMembers }}</p>
        <p>
          {{ 'group.invitationToken' | translate }}: {{ group.invitationToken }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>{{ 'group.eachMemberMustPay' | translate }}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let member of groupMemberInformation">
          <label [class.checked]="isMemberPaid(member.userId)">
            <input type="checkbox" [checked]="isMemberPaid(member.userId)" (change)="togglePaidMember(member.userId)">
            <span>{{ member.fullName }}</span>
          </label>
          <span class="amount">{{ amountEachMemberShouldPay }} {{ group.currency[0].code || null }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="left-card">
    <mat-card>
      <mat-card-title>{{ 'group.paymentDistribution' | translate }}</mat-card-title>
      <mat-card-content>
        <div style="display: flex; justify-content: center;">
          <canvas id="pieChart"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
