<form [formGroup]="myform" (ngSubmit)="Saveuser()">
  <h1 mat-dialog-title>{{ 'newContact.title' | translate }}</h1> <!-- Traducción para "New Contact" -->
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'newContact.name' | translate }}</mat-label> <!-- Traducción para "Name" -->
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'newContact.email' | translate }}</mat-label> <!-- Traducción para "Email" -->
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'newContact.phone' | translate }}</mat-label> <!-- Traducción para "Phone" -->
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'newContact.photo' | translate }}</mat-label> <!-- Traducción para "Photo (link)" -->
      <input matInput formControlName="photo">
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="accent">{{ 'newContact.save' | translate }}</button> <!-- Traducción para "Save" -->
    <a (click)="closePopUp()" mat-raised-button color="warn">{{ 'newContact.close' | translate }}</a> <!-- Traducción para "Close" -->
  </mat-dialog-actions>
</form>
