<div class="user-profile">
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <!-- Foto del perfil -->
    <div class="photo-container">
      <img *ngIf="!isEditing" [src]="userProfile?.photo" alt="{{ 'userProfile.photoAlt' | translate }}" class="user-photo">
    </div>
    <div *ngIf="isEditing">
      <div class="profile-photo">
        <div class="profile-items">
          <input id="uploadImage" hidden (change)="uploadImage($event)" type="file" accept=".png, .jpg, .jpeg">
          <label id="imageButton" for="uploadImage">
            <mat-icon>image</mat-icon>
            Subir foto de perfil
          </label>
          <span *ngIf="selectedFileName" id="imageName">{{ selectedFileName }}</span>
        </div>
      </div>
    </div>

    <!-- Nombre completo cuando no está editando -->
    <div *ngIf="!isEditing">
      <h2>{{ userProfile?.fullName }}</h2>
    </div>


    <!-- Campos firstName y lastName al editar -->
    <div *ngIf="isEditing">
      <input type="text" formControlName="firstName" [placeholder]="'userProfile.firstNamePlaceholder' | translate" class="form-input">
      <input type="text" formControlName="lastName" [placeholder]="'userProfile.lastNamePlaceholder' | translate" class="form-input">
    </div>

    <!-- Email -->
    <p *ngIf="!isEditing">{{ userProfile?.email }}</p>
    <input *ngIf="isEditing" type="email" formControlName="email" [placeholder]="'userProfile.emailPlaceholder' | translate" class="form-input">

    <!-- Teléfono -->
    <p *ngIf="!isEditing">{{ userProfile?.phoneNumber }}</p>
    <input *ngIf="isEditing" type="text" formControlName="phoneNumber" [placeholder]="'userProfile.phonePlaceholder' | translate" class="form-input">

    <!-- Botones de acción -->
    <button *ngIf="!isEditing" class="edit-icon" (click)="enableEditing()">
      <mat-icon>edit</mat-icon>
    </button>


    <div *ngIf="isEditing" class="action-buttons">
      <button type="submit" class="btn btn-success">{{ 'userProfile.saveChanges' | translate }}</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEditing()">{{ 'userProfile.cancel' | translate }}</button>
    </div>
  </form>


</div>

<app-language-switcher></app-language-switcher> <!-- Colocado aquí para mayor visibilidad -->

