@if (dataLoaded | async) {
  <div class="title-container">
    <h1>{{ 'payments.incoming' | translate }}</h1> <!-- Traducción para "Incoming Payments" -->
  </div>

  <mat-card *ngFor="let group of groups" class="group-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ group.name }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    @if (groupPayments[group.id]) {
      <mat-card-content>
        <div class="container">
          <div class="box name">
            <h3><b>{{ 'payments.members' | translate }}</b></h3> <!-- Traducción para "Members" -->
            <div *ngFor="let payment of groupPayments[group.id]">
              {{ users[payment.userId].fullName || payment.userId }}
            </div>
          </div>
          <div class="box date">
            <h4><b>{{ 'payments.description' | translate }}</b></h4> <!-- Traducción para "Description" -->
            <div *ngFor="let payment of groupPayments[group.id]">
              {{ payment.description }}
            </div>
          </div>
          <div class="box amount">
            <h4><b>{{ 'payments.amount' | translate }}</b></h4> <!-- Traducción para "Amount" -->
            <div *ngFor="let payment of groupPayments[group.id]">
              {{ payment.amount | currency }}
            </div>
          </div>
        </div>
      </mat-card-content>
    } @else {
      <mat-card-content>
        {{ 'payments.noMovements' | translate }} <!-- Traducción para "No movements yet..." -->
      </mat-card-content>
    }
  </mat-card>
} @else {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
}
