.title {
    margin-bottom: 20px;
    background-color: #FF7F00;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
}

.new-payment{
  margin-top: 15px;
  padding: 40px;
  margin-left: 50px;
}
